{% if comment.children.all %}
    <ul>
        {% for child in comment.children.all %}
            <li>
                <strong>{{ child.user.username }}</strong>:
                <br>
                {{ child.text }}
                <br>
                <a href="{% url 'comment_create_with_parent' child.id %}">Reply</a> <!-- Кнопка для ответа на вложенный комментарий -->
                <a href="{% url 'update_comment' comment.id %}">Update</a>
                <a href="{% url 'delete_comment' comment.id %}">Delete</a>

                <!-- Рекурсивный вызов для отображения вложенных комментариев -->
                {% include 'comments/recursive_comment.html' with comment=child %}
            </li>
        {% endfor %}
    </ul>
{% endif %}